# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environment
.venv/

# Django stuff
*.log
staticfiles/
media/
*.sqlite3

# Env files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
